{% load static %}
<section class="about_section  bg-light">
    <div class="container" id="about">
      <div class="heading_container black-text heading_center">
        <h2>
          About <span>This Portal</span>
        </h2>
        <p>
         This Portal is Designed by: Andy Amponsah and its purpose is to Help automate and digitalize STS processes
        </p>
      </div>
      <div class="row black-text">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'STS/img/cover_mmce.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h3>
              We Are Mommacoe
            </h3>
            <p>
             The sole purpose of this portal is to help STS leaders send realtime information
             and data to the STS co-ordinator from field experience from all over the country.
             it has a secondary purpose to keep in its DB records of information passed through it 
             and also the details of Student Teachers who go out to observer. With this, Co-ordiantors and 
             Link tutors will have little difficulty accessing informations such as STS Reports and other important
             data. This portal can further be expanded to help grade student Teachers online with further investment.
             with the help of this portal, 3rd party individuals can access the remarks and leadership of all Student 
             Teachers who took the position of STS leaders and verify that what they have on thier curricullum is official
             We believe that individuals who hold the position of leaders should have it on their Cv's which can be easily
             verified by interested parties.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
