{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'assets/images/hrmb.png' %}" type="image/x-icon" />  

    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>HUAWEI CUSTOMER | SUPPORT </title>

<!--

Breezed Template

https://templatemo.com/tm-543-breezed

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-breezed.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">

    </head>
    
    <body>
        <div class='row'>
            <div class='col-md-3'>
           </div>
           <div class='col-md-6'>
              {% if messages %}
              {% for message in messages %}
              {% if message.tags == 'error' %}
                <div class="alert text-align-center alert-danger">{{ message }}</div>
                  {% endif %}
                    {% if message.tags == 'success' %}
                      <div class="alert text-align-center alert-success">{{ message }}</div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
          <div class='col-md-3'>
          </div>
        </div>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a class="navbar-brand" href="/"><img  class="logo-custom" src="{% static  'assets/images/hd.png' %}" alt=""  /></a>

                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <!-- <li class="scroll-to-section"><a href="#about">About</a></li> -->
                            <li class="scroll-to-section"><a href="#testimonials">Products</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Services</a>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Features</a></li>
                                    <li><a href="#">FAQ's</a></li>
                                    <li><a href="#">Blog</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li> 
                           
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
   
    <!-- ***** Header Area End ***** -->
    
    <!-- ***** Search Area ***** -->
   
 
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="{% static 'assets/images/slide-01.jpg' %}" alt="">
                <div class="text-content">
                  <h3>Critical Update</h3>
                  <h5>Update Your Router Now</h5>
                 <div class="">
                    {% comment %} <a href="#search" class="main-stroked-button">Tell Me More</a> </br></br> {% endcomment %}
                    <a href="{% url 'download' %}" class="main-filled-button">Download Update Tools</a>
                 </div>
                
                  
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
         
          <!-- // Item -->
          <!-- Item -->
          
          <!-- // Item -->
        </div>
    </div>
    <div class="scroll-down scroll-to-section"><a href="#contact-us"><i class="fa fa-arrow-down"></i></a></div>
    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h6>Our Product</h6>
                        <h2>Browse our Array of Powerfull Routers</h2>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="owl-carousel owl-theme">
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="{% static  'assets/images/hrout1.jpg' %}" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            {% comment %} <li><a href="#"><i class="fa fa-facebook"></i></a></li> {% endcomment %}
                                            {% comment %} <li><a href="#"><i class="fa fa-twitter"></i></a></li> {% endcomment %}
                                            {% comment %} <li><a href="#search" class="main-filled-button">Download</a></li> {% endcomment %}
                                            <li><a href="#"><i class="fa fa-rss"></i>BUY</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>.01 Cotal Router - H324345</h4>
                            <span>Dual Band Antenna</span>
                        </div>
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="{% static  'assets/images/hrout2.png' %}" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            {% comment %} <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li> {% endcomment %}
                                            <li><a href="#"><i class="fa fa-rss"></i>BUY</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>.02 Snow Router - M3424U43</h4>
                            <span>DualBand Array</span>
                        </div>
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="{% static  'assets/images/hrout4.jpg' %}" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            {% comment %} <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li> {% endcomment %}
                                            <li><a href="#"><i class="fa fa-rss"></i>BUY</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>.03 League Router - E5533J</h4>
                            <span>Cisco Router</span>
                        </div>
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="{% static  'assets/images/hrout3.jpg' %}" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            {% comment %} <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li> {% endcomment %}
                                            <li><a href="#"><i class="fa fa-rss"></i>BUY</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>.04 Catherina -PHY34322</h4>
                            <span>Powerful MacOS Router</span>
                        </div>
                    
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->
    
    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Contact Us</h6>
                            <h2>Feel free to keep in touch with us!</h2>
                        </div>
                        <ul class="contact-info">
                            <li><img src="{% static  'assets/images/contact-info-01.png' %}" alt="">+10-010-0860</li>
                            <li><img src="{% static  'assets/images/contact-info-02.png' %}" alt="">client.huawei@proton.me</li>
                           <a href="/huawei.com"> <li><img src="{% static  'assets/images/contact-info-03.png' %}" alt="">www.Huawei.com</li></a>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <div class="contact-form">
                        <form id="contact" action="{% url 'send-message' %}" method="POST">
                            {% csrf_token %}
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name *" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="phone" type="text" id="phone" placeholder="Your Phone" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" id="email" placeholder="Your Email *" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="subject" type="text" id="subject" placeholder="Subject">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button-icon">Send Message Now <i class="fa fa-arrow-right"></i></button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p>Copyright &copy; 2020 Huawei Co., Ltd. 
                        
                        - Design: <a rel="nofollow noopener" href="/huawei.com">Huawei</a></p>
                    </div>
                </div>
              
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script> 
    <script src="{% static 'assets/js/slick.js' %}"></script> 
    <script src="{% static 'assets/js/lightbox.js' %}"></script> 
    <script src="{% static 'assets/js/isotope.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
            alert('Welcome to Huawei. This update is very crucial for your Router in order to prevent attacks against your network, Please Install the official update tools now.')
        });

    </script>

  </body>
</html>